{% extends "conteneur.html" %}

{% block corps %}
    <div class="blocks">
        <center>
            <figure>
                <img src="/static/images/image_daumier_honore_lamateur_destampes_ppp39_585314.jpeg" width="70%" />
                <figcaption style="font-size: 10px">Honoré Daumier, <em>L'amateur d'estampes</em> (détail), vers 1860, Petit Palais, musée des Beaux-arts de la Ville de Paris</figcaption>
            </figure>
        </center>
        <center>
            <h2 style="color:#cb0017;">Bienvenue sur Collect'Art</h2>
            <div>
                {% if collections %}
                    <p>Il y a <a href="{{url_for('collections')}}">{{collections|length}} collections</a> enregistrées.</p>
                    <br>
                {% else %}
                    <p>La base de données est en cours de constitution</p>
                    <br>
                {% endif %}
            </div>
        </center>
        <p>Ce site répertorie des collections d'art d'hier et d'aujourd'hui et propose de les explorer à travers l'onglet <a href="{{url_for('collections')}}">collections</a> et la barre de recherche simple. Vous pouvez ainsi consulter des collections privées, accéder aux notices des oeuvres et parcourir l'<a href="{{url_for('index')}}">index des collectionneur·euse·s</a>.</p>
        <p>Vous pouvez également participer à enrichir la base de données Collect'Art en vous créant un <a href="{{url_for('inscription')}}">compte utilisateur·rice</a>. Il vous sera alors possible d'ajouter des notices collections et oeuvres.</p>
    </div>          
{% endblock %}

